<div class="login-wrapper">
    <!-- <div class="second-wrapper"> -->

   
    <div class="dispaly-content">
        <div class="inner-container">
            <p>
                The Financial Times Stock Exchange 100 Index, also called the FTSE 100 Index, FTSE 100, FTSE, or, informally, the "Footsie", is a share index of the 100 companies listed on the London Stock Exchange with the highest market capitalisation.
            </p>
            <br>
            <p>
                Sign up to trade with confidence on the world's leading social trading platform.
            </p>
            <br>
            <p>
                FSTE 100 share trade indicates the United Kingdom’s economy. <br>Company portfolio along with expert advice is obtained through our webstie. Sign up Now!!            </p>
        </div>

    </div>
    <div class="login-content">
        <div class="inner-container">
            <mat-card>   
                <br>
                <h2>Welcome Back!</h2>
                <br>
        <form class="login-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                
                <button mat-raised-button color="accent" class="submitbtn"> Login</button>
            </div>
        </form>
        <br>
        </mat-card>
    </div>
</div>
<!-- </div> -->
</div>
